<% data.forEach(list => {
    %>
    <% const messages = msg.filter(v => v.reciver === list.username) %>
    <% const len = messages.length%>
    <div class="chat-profile" onclick="window.location.href = '/chatroom/<%= list._id %>/<%= list.name %>'">
        <div class="grid-center brd">
            <a href="/profile/<%= list._id %>">
                <img src="/<%= list.img %>" alt="not found"></img>
        </a>
    </div>
    <div class="brd">
        <%= list.name %>
    </div>
    <div class="brd">
        <i class="bi bi-check"></i>
        <!--<i class="bi bi-check-all"></i>  -->
        <span>
            <%= messages[len-1].message %>
        </span>
    </div>
    <div class="brd">
        <%= messages[len-1].timeSend %>
    </div>
    <div class="brd">
        <i class="bi bi-volume-mute"></i>
        <span>
            <%= len %>
        </span>
    </div>
</div>
    <%
}) %>