<div class="chat-profile">
    <a href="/profile/<%= list._id %>">
        <img src="/<%= list.img %>" alt="not found"></img>
    </a>
<p>
    <%= list.name %>
</p>
<i class="bi bi-check"></i>
<!--<i class="bi bi-check-all"></i>  -->
<p>
    <%= list.message %>
</p>
<p>
    <%= list.timeSend %>
</p>
<i class="bi bi-volume-mute"></i>
<p>
    15
</p>


</div>