<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('layouts/cdn') %>
    <link rel="stylesheet" href="/css/chatroom.css" type="text/css" media="all" />
    <script src="/js/chatroomio.js" type="text/javascript" charset="utf-8" defer></script>
    <title>DanApp | Chatroom</title>
</head>
<body>
    <main>
        <header>
            <nav class="shadow-sm p-2">
                <a href="/chat"><i class="bi bi-arrow-left"></i></a>
                <a><img id="nav-img" src="/images/profile/<%= data.image %>"></img></a>
            <h1><%= data.name %></h1>
            <i class="bi bi-search"></i>
            <i class="bi bi-three-dots-vertical"></i>
        </nav>
        <div class="nav-menu">
            <div class="nav-menu-list">
                <a href="/chatroom/delete">Clear chat</a>
            </div>
            <div class="nav-menu-list">
                <a href="/chatroom/api">Api</a>
            </div>
            <div class="nav-menu-list">
                <a href="#">List</a>
            </div>
        </div>
    </header>
    <div class="chat-room-container">
        <div class="chat-room-body">
            <div class="information shadow-sm">
                <p></p>
            </div>
            <% if (msg) {
                %>
                <% msg.forEach(list => {
                    %>
                    <% if (list.username === data.username) {
                        list.sender = 'you'
                        list.pos = 'left'
                    } else {
                        list.pos = 'right'
                    }%>
                    <div class="msg msg-<%= list.pos %> shadow-sm">
                        <span><%= list.sender %></span>
                        <p>
                            <%= list.message %>
                        </p>
                        <span>
                            <i class="bi bi-check"></i>
                            <!--<i class="bi bi-check-all"></i>-->
                            <%= list.timeSend %>
                        </span>
                    </div>
                    <%
                })%>
                <%
            } %>
        </div>
        <div class="input-msg-container">
            <div class="input-msg shadow">
                <a href="#"><i class="bi bi-camera"></i></a>
                <form id="form">
                    <input type="text" name="reciver" value="<%= data.username %>" hidden>
                    <input type="text" name="sender" value="<%= currentUser %>" hidden>
                    <input
                    id="inp"
                    type="text"
                    placeholder="Message..."
                    autofocus
                    autocomplete="off"
                    name="message"
                    />
                    <input type="submit" hidden>
                </form>
                <div class="icon-group">
                    <a href="#"><i class="bi bi-mic"></i></a>
                    <a href="#"><i class="bi bi-images"></i></a>
                    <a href="#"><i class="bi bi-emoji-smile"></i></a>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/socket.io/socket.io.js"></script>
</body>
</html>