<div class="scroll-container">
<section class="chats">
    <% data.forEach(list => { %>
        <div class="chat-profile" onclick="window.location.href = '/chatroom/<%= list._id %>/<%= list.name %>'">
            <a href="/profile/<%= list._id %>">
                <img src="/<%= list.img %>" alt="not found"></img>
            </a>
            <p>
                <%= list.name %>
            </p>
            <i class="bi bi-check"></i>
            <!--<i class="bi bi-check-all"></i>  -->
            <p>
                <%= list.message %>
            </p>
            <p>
                <%= list.timeSend %>
            </p>
            <i class="bi bi-volume-mute"></i>
            <p>
                15
            </p>
        </div>
    <% }) %>
</section>
<section class="status">
    <% data.forEach(list => { %>
        <div class="chat-profile" onclick="window.location.href = '/chatroom/<%= list._id %>/<%= list.name %>'">
            <a href="/profile/<%= list._id %>">
                <img src="/<%= list.img %>" alt="not found"></img>
            </a>
            <p>
                <%= list.name %>
            </p>
            <i class="bi bi-check"></i>
            <!--<i class="bi bi-check-all"></i>  -->
            <p>
                <%= list.message %>
            </p>
            <p>
                <%= list.timeSend %>
            </p>
            <i class="bi bi-volume-mute"></i>
            <p>
                15
            </p>
        </div>
    <% }) %>
</section>
</div>
