<div class="container-fluid">
    <table class="table table-dark table-striped">
      <thead>
         <tr>
            <th scope="col">ID</th>
            <th scope="col">Image</th>
            <th scope="col">Username</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Message</th>
            <th scope="col">Status</th>
            <th scope="col">Time Send</th>
         </tr>
      </thead>
      <tbody>
         <% data.forEach(list =>{ %> 
             <tr>
               <td><%= list._id %></td>
               <td><img class="img-fluid rounded-circle" src="/<%= list.img %>"></img></td>
               <td><a href="/profile/<%= list._id %>"><%= list.username %></a></td>
               <td><%= list.name %></td>
               <td><%= list.email %></td>
               <td><%= list.password %></td>
               <td><%= list.message %></td>
               <td><%= list.status %></td>
               <td><%= list.timeSend %></td>
             </tr>
         <% })%>
      </tbody>
    </table>
</div>