<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('layouts/cdn') %>
    <link rel="stylesheet" href="/css/page.css" type="text/css" media="all" />
    <script src="/js/page.js" type="text/javascript" charset="utf-8" defer></script>
    <title>DanApp | Page</title>
</head>
<body>
    <div class="container text-center">
        <div class="row">
            <% data.forEach(list => {
                %>
                <div class="col-md-3">
                    <!-- card -->
                    <div class="card m-1">
                        <img class="img-fluid card-img-top" src="/<%= list.img %>"></img>
                    <div class="card-body">
                        <h5 class="card-title"><%= list.name %></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">username: <%= list.username %></li>
                        <li class="list-group-item">email: <%= list.email %></li>
                        <li class="list-group-item">status: <%= list.status %></li>
                        <li class="list-group-item">message: <%= list.message %></li>
                        <li class="list-group-item">timeSend: <%= list.timeSend %></li>
                        <li class="list-group-item">id: <%= list._id %></li>
                    </ul>
                    <div class="card-body">
                        <form action="/page?_method=DELETE" method="POST">
                            <input type="text" value="<%= list._id %>" hidden name="id">
                            <button class="btn btn-primary" type="submit" onclick="prompt('Are you sure want to delete<%= list.name %>')">Delete</button>
                        </form>
                    </div>
                </div>
                <!-- card end -->
            </div>
                <%
            })%>
    </div>
</div>
</body>
</html>