<div class="container text-center">
   <div class="row">
         <% data.forEach(list =>{ %>
            <div class="col-md-3">                     
            <!-- card -->
            <div class="card m-1">
               <img class="img-fluid card-img-top" src="/<%= list.img %>"></img>
               <div class="card-body">
                  <h5 class="card-title"><%= list.name %></h5>
               </div>
               <ul class="list-group list-group-flush">
                  <li class="list-group-item">username: <%= list.username %></li>
                  <li class="list-group-item">email: <%= list.email %></li>
                  <li class="list-group-item">status: <%= list.status %></li>
                  <li class="list-group-item">message: <%= list.message %></li>
                  <li class="list-group-item">timeSend: <%= list.timeSend %></li>
                  <li class="list-group-item">id: <%= list._id %></li>
               </ul>
               <div class="card-body">
                  <a href="/page/" class="card-link">Delete</a>
                  <a href="/profile/<%= list._id %>" class="card-link">Profile</a>
               </div>
            </div>
            <!-- card end -->
            </div>  
         <% })%>
   </div>
</div>
