<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('layouts/cdn') %>
    <link rel="stylesheet" href="/css/profile.css" type="text/css" media="all" />
    <script src="/js/profile.js" type="text/javascript" charset="utf-8" defer></script>
    <title>DanApp | Profile</title>
</head>
<body>
    <div class="profile-container">
        <div class="header">
            <a href="/chat">
                <i class="bi bi-arrow-left"></i>
            </a>
            <h1>Profile</h1>
            <i class="bi bi-three-dots-vertical"></i>
        </div>
        <div class="nav-menu">
            <ul>
                <li><a href="/page">More info</a></li>
                <li><a href="#">Edit profile</a></li>
                <li><a href="/profile/d/<%= data._id %>" onclick="prompt('Are you sure want to delete this user?')">Delete profile</a></li>
            </ul>
        </div>

        <div class="img-container">
            <a href="#">
                <img src="/<%= data.image %>" alt="not found"></img>
               <i class="bi bi-plus-circle"></i>
            </a>
        </div>
        <!-- update image -->
        <div class="modal-img-container">
            <div class="modal-img">
                <form action="/profile" method="POST" enctype="multipart/form-data">
                    <i class="bi bi-x-circle align-self-end"></i>
                    <label for="image" class="mb-3">
                    <img src="/<%= data.image %>" class="img-thumbnail w-100 h-100 " id="profile-img">
                        <input type="file" name="image" id="image" onchange="return fileValidation(this.id)" accept="image/*">
                        <input type="text" name="id" value="<%= data._id %>" hidden>
                    </label>
                    <button class="btn btn-sm btn-info" type="submit">Update</button>
                </form>
            </div>
        </div>
        <!-- update image end -->
    <div class="box">
        <i class="bi bi-at"></i>
        <span class="desc">
            @<%= data.username %>
        </span>
        <a href="#">
            <i class="bi bi-pencil-square" data-headername="username" data-value="<%= data.username %>"></i>
        </a>
    </div>
    <div class="box">
        <i class="bi bi-person-circle"></i>
        <span class="desc">
            <%= data.name %>
        </span>
        <a href="#">
            <i class="bi bi-pencil-square" data-headername="name" data-value="<%= data.name %>"></i>
        </a>
    </div>
    <div class="box">
        <i class="bi bi-inbox"></i>
        <span class="desc">
            <%= data.email %>
        </span>
        <a href="#">
            <i class="bi bi-pencil-square" data-headername="email" data-value="<%= data.email %>"></i>
        </a>
    </div>
    <div class="box">
        <i class="bi bi-stickies"></i>
        <span class="desc">
            <%= data.status %>
        </span>
        <a href="#">
            <i class="bi bi-pencil-square" data-headername="status" data-value="<%= data.status %>"></i>
        </a>
    </div>
    <div class="modal-container">
        <div class="modal">
            <div class="modal-header">
                <h3></h3>
                <button class="close"><i class="bi bi-x"></i></button>
            </div>
            <form action="/profile?_method=PUT" method="POST">
                <input id="current_user" type="text" hidden name="id_user" value="<%= currentUser %>">
                <input id="this_user" type="text" hidden name="id" value="<%= data._id %>">
                <input type="text" class="updater" hidden name="updater" value="">
                <input type="text" class="modal-input" name="dataValue" autocomplete="off" autofocus="true">
                <button class="btn-sm btn-info" type="submit">update</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>