<div class="profile-container">
    <div class="header">
        <a href="/chat">
            <i class="bi bi-arrow-left"></i>
        </a>
        <h1>Profile</h1>
        <a href="/page">
            <i class="bi bi-three-dots-vertical"></i>
        </a>
    </div>
    <a href="#">
        <img src=/<%= data.img %> alt="not found"></img>
    </a>
    <div class="box">
        <i class="bi bi-person-circle"></i>
        <p class="desc">@<%= data.username %></p>
        <a href="#">
            <i class="bi bi-pencil-square"></i>
        </a>
    </div>
    <div class="box">
        <i class="bi bi-person-circle"></i>
        <p class="desc"><%= data.name %></p>
        <a href="#">
            <i class="bi bi-pencil-square"></i>
        </a>
    </div>
    <div class="box">
        <i class="bi bi-at"></i>
        <p class="desc"><%= data.email %> </p>
        <a href="#">  
            <i class="bi bi-pencil-square"></i>
         </a>
    </div>
    <div class="box">
        <i class="bi bi-stickies"></i>
        <p class="desc"><%= data.status %> </p>
        <a href="#">
            <i class="bi bi-pencil-square"></i>
        </a>
    </div>
    <div class="modal-container">
        <div class="modal">
            <div class="modal-header">
                <h3>name</h3>
                <span class="close">X</span>
            </div>
            <form action="">
                <input type="text" class="modal-input" value="name">
                <button type="submit">update</button>
            </form>
        </div>
    </div>
</div>
